[2017-02-03 20:17] iffy opened #2 "Auto-updating won't work unless the code is signed"
I'm not sure how to get past this without paying money.  I'd appreciate any ideas...

[2017-02-09 14:08] develar commented on #2
Just sign using free Mac Developer cert. Not for production. In any case unsigned app is blocked on macOS.

[2017-02-09 18:27] develar opened #4 "Do not specify explicit publish config"
1. Don't need at all.
2. Ok — if you want to make it explicit — you can still do not specify repo and owner, because will be grabbed from git config automatically. Or from repository package field.

[2017-02-09 20:05] iffy commented on #4
Okay, I'll test removing that.  Since I don't have a `repository` field in package, will it still work?

[2017-02-09 22:58] iffy commented on #4
You're right, this works :)

[2017-02-09 22:58] #4 closed

[2017-02-09 23:00] iffy opened #6 "use an npm script instead of publish.sh"

[2017-02-10 18:47] develar opened #8 "Move to electron-builder"
Would you like to move it to electron-builder repo, under directory `examples`?

[2017-02-10 19:35] develar commented on #8
But... separate repo is better because in this case it can be easily cloned.

[2017-02-10 19:55] develar commented on #8
@iffy I suggest to transfer repo to electron-userland org, so, it will be easily discoverable and under the same org for consistency and "official" status.

@stefanjudis please allow  transfer request when will be requested (I am member of org and not owner and have to ask you). @malept please do not block as always ;)

[2017-02-10 19:57] malept commented on #8
I'm not going to block it as long as it's clear that there's a maintainer for the repo. The Electron Userland org is not meant to be a dumping ground for related repositories.

[2017-02-10 20:22] iffy commented on #8
@develar would you be maintaining it?  I'm happy to have you maintain it and happy to have it live in the userland org.

[2017-02-11 01:25] develar commented on #8
@iffy it will be part of docs and, so, somehow maintained.

[2017-02-13 15:02] iffy commented on #8
@develar k, here it comes! :)

[2017-02-13 15:03] iffy commented on #8
@develar I don't have permission to send it, so do you need to request it?

[2017-02-13 15:17] develar commented on #8
@stefanjudis I cannot invite @iffy to electron-builder org as a member, because I am not owner. Could you please invite?

[2017-02-13 15:32] stefanjudis commented on #8
You mean `electron-userland` org?

[2017-02-13 15:40] develar commented on #8
@stefanjudis Yes, I mean [electron-userland](https://github.com/electron-userland).

Yeah... I am the only member who doesn't have owner rights :)

[2017-02-13 16:14] stefanjudis commented on #8
Haha, ja let's try to change that. :D

@malept would it be alright, when I'd give @develar owner rights?

I mean, I'm not actively developing `electron-builder` anymore (and have owner rights) and @develar does an amazing job with the project. The flow right now is, that he always has to ask me to add/configure/... something, which is not really comfortable for us.

What do you think of that?

[2017-02-14 00:11] JSONValidator opened #9 "Unhandled rejection Error: 404 Not Found"
[code]

owner: **electron**, project: **electron-quick-start**

How can I change "owner" and "project"? I can't find such parameters.
Thank you.

[2017-02-14 00:53] iffy commented on #9
Does this work (in package.json)?

[code]

[2017-02-17 17:06] develar commented on #8
@malept Friendly ping :)

[2017-02-17 17:28] malept commented on #8
I'll write a reply this weekend.

[2017-02-21 23:16] iffy commented on #8
@develar btw, I'm fine if you want to create a new repo `electron-userland/electron-updater-example` that's not a GitHub copy of this repo, but just a git copy (i.e. clone this repo, create `electron-userland/electron-updater-example`, push).

[2017-02-22 06:57] develar commented on #8
@stefanjudis I think you can give owner rights. In any case right now I can push to any repo. If someone will be against — team can be created to restrict my access level. Since all members currently are owners — I don't see any security risks or policy violation.

[2017-02-22 17:23] malept commented on #8
@develar Sorry about not writing the response this weekend, I was busy.

I have been hesitant to give admin rights for a couple of reasons:

1. Adding org-level permissions to services - in the case of the most recent ask, I have no idea what the implications of adding OpenCollective is, what permissions they're looking for, or what they can access. I looked for a couple minutes on their website a

[2017-02-22 17:34] develar commented on #8
@malept The only useful electron tools for electron-builder are electron-osx-sign and electron-download. And tools are used (and I am contributing to both projects, e.g. https://github.com/electron-userland/electron-download/pull/40 and see my name in the https://github.com/electron-userland/electron-osx-sign#collaborators). Other modules (except electron-packager) are not related to build electro

[2017-02-22 17:46] malept commented on #8
@develar I never said *anything* about number of contributors. Nor did I say that the org is only for Electron Packager. Please do not put words in my mouth.

You might be sometimes contributing to upstream, but the pattern that I and several other Electron community members have been seeing is the following:

1. You contribute a PR to a module. Sometimes it gets merged, sometimes it doesn't.
2. F

[2017-02-22 17:55] develar commented on #8
The only not used tool is electron-packager. Not "modules", but "module". And is not used because electron-builder version has a lot of features. Implementing it as part of electron-packager will be not easy because it will be total rewrite. It will took a lot of time to argue you to use promise/babel or typescript. Wasting time. Since in any case I don't need to fix something, but implement it fr

[2017-02-22 18:01] malept commented on #8
I care less about Packager and more about the forks of asar, electron-osx-sign, and electron-download. This is not about ego, this is about maintaining a healthy community ecosystem.

Is this really just about the code architecture of all of these modules?

[2017-02-22 18:05] paulcbetts commented on #8
To be honest, this resonates with me quite strongly as the Squirrel.Windows maintainer. Thanks for writing this up @malept and I appreciate your professionalism in this Hard Conversation

[2017-02-22 18:13] develar commented on #8
https://github.com/electron-userland/electron-osx-sign/issues/125#issuecomment-273500629

All changes were merged currently (except one internal option specially for electron-builder). I often contribute to electron-osx-sign and is not easy to change module id. Also, I need to test my PR on beta users (next tag) and CI servers.

Nothing changed except removing deprecated dependency (https://github

[2017-02-28 14:55] develar commented on #8
@paulcbetts I am not aware of any bugs that was caused due to my fork. If you mean semver issue — it was not a bug in my fork, it is was result of rcedit call (file version, not in the Squirrel.Windows code).

All bugs, as far I know, in the runtime. And runtime is the same. if you have examples — please provide.

[2017-03-01 16:19] iffy commented on #9
Closing since this hint is included in the README

[2017-03-01 16:19] #9 closed

[2017-03-05 08:26] develar commented on #8
@malept Ping.

[2017-03-09 14:23] matiastucci opened #11 "this example works for Windows too?"

[2017-03-09 15:19] iffy commented on #11
I've heard it does but I don't have Windows to test it. Issue #6 is probably the only incompatibly.

[2017-03-09 15:28] matiastucci commented on #11
ok, thanks, I'll try. One more question, how the app knows where to check if there is a new update? if you never do `autoUpdater.setFeedURL(url)`

[2017-03-09 16:08] iffy commented on #11
It uses "magic" (i.e. I don't know exactly).  I wish it was less magical.  But look at item 2 on the README: https://github.com/iffy/electron-updater-example

Reopen if you have other questions.

[2017-03-09 16:08] #11 closed

[2017-03-14 15:37] George35mk opened #12 "there is any way that i can make manualy updates not auto"
when the update is avalible is starting downloading from my git hub ucount and when the update is finish is close the app and install the updates i dont want that , i want the user to see on status if update is avalible and if is want the update in gona download the update and a popup window is gona say you want the update to install now ??

how  i gona make this??

i dont want the app to close au

[2017-03-14 16:56] iffy commented on #12
@George35mk Yes, you can have it actually install whenever you want, though I'm not sure how to have it install on the next start.

This part of the code is what you would change: https://github.com/iffy/electron-updater-example/blob/master/main.js#L125

[code]

Instead of doing `setTimeout` you could create a new window or dialog that asks the user if they want to update.  Make some code that cal

[2017-03-14 16:56] #12 closed

[2017-03-14 16:59] iffy opened #13 "Upgrade to newest version of electron-builder"

[2017-03-14 17:01] George35mk commented on #12
thnx iffy i gona try to make new window 1 more question brother

why i canot have all the code about update not on main process but in seperate file like updater.js

can i do this think or how i can notified about updates after the user log in the app after 10min

can i do that??

[2017-03-14 17:05] iffy commented on #12
@George35mk

Yes, you can put all your updater code in another file and then import/require it into `main.js`.

If you wanted to check for updates after 10 minutes, you'd call `checkForUpdates` like this (instead of inside the `app.on('ready', function() { ... })`):

[code]

If you wanted to check **every** 10 minutes change `setTimeout` to `setInterval`.

[2017-03-14 17:08] George35mk commented on #12
iffy if they are select not to update now for example and they are close the application if they open the app on next time how the new update in gona start to execute setup-my app.exe ??  or the update is gona start without problem

[2017-03-14 17:16] iffy commented on #12
@George35mk If they choose not to update and close the app, *I think* it will start over (re-download the update and prompt them again).  At least I think that's how it works on this version of `electron-updater`.  But maybe a newer version will keep downloads between app restarts?  I'd ask that in the Slack channel: https://electron-builder.slack.com

[2017-03-14 17:19] George35mk commented on #12
if they select no to update and the update has complete that new file (myNewUpdate-setup-v1.078) iffy can you tell me were this new setup.exe is stored and if i can run this comand after the app is relanch
`autoUpdater.quitAndInstall()`

[2017-03-14 17:20] George35mk commented on #12
the problem with autoUpdate is when the user working with my app suddenly the app is close and start the update

[2017-03-14 19:57] George35mk commented on #12
iffy i found that the update exe file is stored on

C:\Users\iffy\AppData\Local\Temp\up-BL4tQA\yourApp-setup-v2.0.7.exe

ok if the user dont wan the app to installed ,but the app have downloaded  on that dir can instaled when the user try to lanch the app in the second

can you make a npm package with the name manual downloader for electron apps 👍  is easy for you i never make module or npm packag

[2017-03-14 19:58] iffy commented on #12
@George35mk I've never made an npm package either :)  I just made this demo repository because it took me so long to figure out how to get AutoUpdater working.

@develar If an update has been downloaded, then the app is restarted, is there a way for the app to not have to download the update again and to know that it's already been downloaded?

[2017-03-14 20:04] George35mk commented on #12
if you see the app path were is stored you find the parend pathe is random if know what algorith create that path i think you gona find how to chec if update exis and not to redownloaded again

C:\Users\iffy\AppData\Local\Temp\**up-BL4tQA**\yourApp-setup-v2.0.7.exe

[2017-03-14 20:06] George35mk commented on #12
iffy i think you can make it i beilive to you 4 days i try to make updater 4 DAYS and finaly i come tou your github example page thank god i make it put now i face this problem

[2017-03-14 20:29] iffy commented on #12
@George35mk let's see if develar already has a solution for you.

[2017-03-14 21:16] George35mk commented on #12
iffy are you there???

[2017-03-14 21:23] George35mk commented on #12
i think i have find the solution but i need to help me because i am not soo expert

i fount that in my main.js console i see all that messages from the console

[code]

if i can comunicate with **ipcMain**

i make this function

[code]

[2017-03-14 21:25] George35mk commented on #12
in my render process i can take that data and i think with simple alert(); i can now if somethink is hapend inside that main.js

[2017-03-14 21:36] George35mk commented on #12
with that way i can check if there is update i can sent **1** if yes and **0** if no
and i can take that msg from main what you say ???

[2017-03-15 06:33] develar commented on #12
1. In my app auto-update doesn't close app if update exists, only notification send (https://github.com/develar/onshape-desktop-shell/blob/master/src/AppUpdater.ts#L22).
2. Update installed on quit.

No way to reuse previously downloaded update after restart. I don't think that it is required. Just call `autoUpdater.checkForUpdates` again to download actual update file.

[2017-03-15 06:35] George35mk commented on #12
thnx develar

[2017-03-15 06:41] George35mk commented on #12
develar i try to install your app but when select to signUp nothink hapent ???

[2017-03-15 06:42] George35mk commented on #12
3 times i try to sighUp from the login menu but nothink why??

[2017-03-15 06:44] develar commented on #12
@George35mk Sign up using https://www.onshape.com

[2017-03-20 18:33] develar commented on #8
@stefanjudis Could you please just add @iffy as a member to electron-userland org?

[2017-03-21 02:34] malept commented on #8
@develar I have a proposal:

The electron-userland org was never meant as a dumping ground for Electron-related projects. Originally it was just a bunch of self-contained tools/modules for Electron projects maintained by a couple of people. Now it's gotten to be a bit more than that. Electron Forge is moving out of the electron-userland org and [into its own](https://github.com/electron-forge), pa

[2017-03-21 06:58] develar commented on #8
@malept Thanks for info. BTW, we have managed to run all electron-builder tests in 8 minutes using CircleCI (run across all 4 workers, Travis runs only macOS tests (10 minutes)).

[2017-03-21 07:46] stefanjudis commented on #8
Then let's do this? @develar

[2017-03-21 07:57] develar commented on #8
Move to electron-builder org? I don't like it and prefer to stay in the electorn-userland org.

* electron-builder uses monorepo, as babel, [packages](https://github.com/electron-userland/electron-builder/tree/master/packages) will be not converted to repositories.
* electron-updater is not tight to electron-builder and can be used standalone.
* Org description "Third party community maintained el

[2017-03-21 08:07] develar commented on #8
* `electron-osx-sign` is also part of electron-buider (and in the same time part of any other build tool for electron). Don't like the idea to create org per tool.

[2017-03-21 08:07] MarshallOfSound commented on #8
@develar I'd like to reiterate what @malept said I definitely feel it's better for everyone to separate concerns.  The `-builder` and `-forge` ecosystems have both outgrown the CI limits imposed on `-userland`, regardless of how fast everyone's CI runs it is normally in the range of 10+ minutes on each agent, with the limits imposed on us this means that if everyone wants the agents you can be wai

[2017-03-21 08:36] develar commented on #8
I don't think that this Travis limitation should be the main reason to create org per tool :) Maybe you can contact CircleCi to run macOS tests.

I like monorepo and not going to split electron-builder to repo-hell. I don't like idea to create org for 2 repositories (electron-updater can be used standalone).

I contribute not only to electron-builder, https://github.com/electron-userland/electron-

[2017-03-21 15:07] malept commented on #8
It would be exactly the same problem with AppVeyor, except you already use a different account there. There's clearly already precedent for electron-builder to have its own separate account.

My point is that you currently have two repos in userland (one of which is a git repo full of binaries...) and you want to add a third - that's a good point to start considering moving the project to its own

[2017-03-21 15:13] develar commented on #8
electron-updater can be used standalone (the same about electron-publish / electron-publisher-s3). That's the point why I don't want to move to a separate org. Will be no packages designed only for electron-builder — in this case it will be in the electron-builder repo.

[2017-03-21 15:22] malept commented on #8
As long as electron-updater is in the same repo as electron-builder, people will assume that it requires -builder to run, no matter how many times you assert otherwise.

[2017-04-05 12:12] stefanjudis commented on #8
@develar @malept @paulcbetts @MarshallOfSound

Hello everybody, I know this is a tough discussion here, but I really would love to find a solution for my own problem which is related to the discussion.

I started `electron-builder` initially and I was part of moving it into `electron-userland`. That's the reason why I have admin rights. I'm not active part of any development in one of the repos un

[2017-04-06 04:21] develar commented on #8
@malept you didn't answer to my answers to your "for a couple of reasons", probably it was some kind of answer :) actually, I don't need admin rights — you can just allow access for requested app (https://github.com/electron-userland/electron-builder/issues/1433#issuecomment-291829988). For record, it is the second request for past year and I don't see that we need different org to be able to have

[2017-04-13 11:34] mbtakanov opened #14 "How to config electron-updater"
Hello, I can't understand from the given examples how to configure the updater. I have private company git repo on a company website and the example is all about GitHub. Where do I have to add the url to the repo? Do I have to add a credentials? If yes - where? What is the thing with the access token? I can't understand anything. Can you explain points 4, 5(what do you mean by "Publish with the pu

[2017-04-19 13:52] mbtakanov commented on #14
Thank you for the answer, it really helped. Two more things though.
1. How should the repo look like? I mean what it should contain? Only an .exe (installer) file and latest.yml? Or the source files (before compiling)? Or the files in win-unpacked folder (the compiled files)?
2. Is it possible to make a video in youtube how this work? With all the configs and ect. It would be very helpful.

[2017-04-19 15:38] iffy commented on #14
I'm not sure.  @develar, how should files be laid out on the fileserver for a `generic` provider?

[2017-04-19 15:52] develar commented on #14
Url — it is base URL for installer and channel update info files. I.e both exe and latest.yml must uploaded. Layout — nothing specific. E.g https://example.com/foo — dir foo must contains these files.

[2017-04-19 16:07] iffy commented on #14
So:

[code]

with these files on the webserver:

[code]

Does that work, @mbtakanov ?

[2017-04-20 08:53] mbtakanov commented on #14
Ok, I did what you said. I uploaded the `.exe` and `latest.yml` in a `foo` folder in the repo. Then I navigated to the folder and copy the URL. Then I set the URL at the `package.json` in the publish option like this:

[code]

Unfortunately, when I start the app, an error pops up:
[code]

Could you tell me what's wrong? There is nothing in google when I search the error.

And just out of curiosity

[2017-04-20 15:42] iffy commented on #14
@mbtakanov If you use your browser to go to the url mentioned in the error do you get a 404 or does it download the file?

@develar is the problem that `method` is `undefined`?

[2017-04-20 16:17] iffy commented on #14
@mbtakanov Does this work for you? https://gist.github.com/iffy/0ff845e8e3f59dbe7eaf2bf24443f104

It worked for my updating my macOS app.

[2017-04-21 13:52] mbtakanov commented on #14
Hi, thank you for going through this with me.
1. If I navigate to `https://git.companyname.com/repo_name/src/master/foo/latest.yml` in my browser, it just shows the content of the file just like any other file opened in a repo (example - https://github.com/electron/electron/blob/master/script/bootstrap.py)

2. The instructions in the link you provided - https://gist.github.com/iffy/0ff845e8e3f59db

[2017-04-21 15:27] iffy commented on #14
@mbtakanov

1. The `generic` provider is for plain old HTTP servers that serve plain old files.  For instance, instead of https://github.com/electron/electron/blob/master/script/bootstrap.py electron-updater is expecting the "Raw" version of that file (i.e. https://raw.githubusercontent.com/electron/electron/master/script/bootstrap.py -- notice that this is from `raw.githubusercontent.com`)

What

[2017-04-24 13:24] mbtakanov commented on #14
My company repo is based on GitHub, everything is the same as github.com, but it's on a private domain. Imagine I'm at the folder where are the `.exe` and `latest.yml`. So, how can I extract a link which will work in the `generic` provider? Is it even possible? I can get the link with the raw `latest.yml` file, but as we know, we need a link which contain both, the `.exe` and `latest.yml` files. M

[2017-04-24 16:20] iffy commented on #14
@mbtakanov Can you use the `github` provider and configure `host` (inside `package.json`) and `token` in `setFeedURL` as described here: https://github.com/electron-userland/electron-builder/wiki/Publishing-Artifacts#githuboptions--publishconfiguration

[2017-04-25 05:24] develar commented on #14
@mbtakanov if you want silent update for boring installer — file issue to electron-builder.

If you want to use private GitHub repo for update — no way (see docs for more details).

[2017-04-25 12:17] mbtakanov commented on #14
@iffy I have few questions:
1) I created access token from my company private repo. Then I put it in `token` property. Now my `package.json` look like this:
[code]
Is this ok?
2) In https://github.com/electron-userland/electron-builder/wiki/Publishing-Artifacts#GithubOptions, the `token` description is somehow incomprehensible. What `Never specify it in the configuration files. Only for setFeedURL

[2017-04-25 12:19] develar commented on #14
Docs is clear — https://github.com/electron-userland/electron-builder/wiki/Auto-Update#private-github-update-repo So, in short, do not use private GitHub repo for autoupdate.

[2017-05-01 23:14] shashank-ezdiagno opened #15 "Auto Updates not working on Mac"
After making the build, when I open the app, it just shows that update is available but doesn't attempt to update the app. What am I doing wrong?

![screen shot 2017-05-02 at 4 43 56 am](https://cloud.githubusercontent.com/assets/23030886/25598332/04e6845e-2ef2-11e7-8590-0b29907eb41d.png)

[2017-05-01 23:25] shashank-ezdiagno commented on #15
Wait I got this error message after some time - Error in auto-updater.undefinedError: Code signature at URL file:///Users/shashankkumar/Library/Caches/com.github.iffy.electronupdaterexample.ShipIt/update.XM2kBNu/electron-updater-example.app/ did not pass validation: code object is not signed at all

[2017-05-01 23:57] shashank-ezdiagno commented on #15
Nevermind - I had published an unsigned release to github.

[2017-05-01 23:57] #15 closed

[2017-05-02 07:24] dventurino opened #16 "Fix 'download-progress' example"
Hi,
I think there might be an error in the following lines of the example:
`autoUpdater.on('download-progress', (ev, progressObj) => {
  sendStatusToWindow('Download progress...');
})`

I tried these lines and could not get any info about the download progress...turns out that progressObj is the first argument of the callback function, in fact now I can log the download speed and the other info:
-

[2017-05-02 15:36] iffy commented on #16
Yes, I think it should.  As I understand it, `download-progress` only works on Windows, so I haven't been able to test it :)  If you don't submit a PR, I will a little later.

Thanks!

[2017-05-03 07:35] dventurino commented on #16
I sent a PR ;) https://github.com/iffy/electron-updater-example/pull/17

[2017-05-03 16:22] iffy commented on #16
@dventurino you rock, thank you!

[2017-05-04 16:23] #16 closed

[2017-05-04 16:23] iffy commented on #14
@mbtakanov I'm closing this (as it seems your use case isn't supported).  But open a new issue or comment on this if you have more questions.

[2017-05-04 16:23] #14 closed

[2017-05-05 15:06] nbcnc commented on #14
If @develar is correct -- then the documentation is misleading.

Please change the docs to indicate that private github repos are **not** supported.  The docs at https://github.com/electron-userland/electron-builder/wiki/Auto-Update#private-github-update-repo say... "You can use a private repository for updates with electron-updater"

[2017-05-05 17:07] iffy commented on #14
@nbcnc can you file an issue on that repo?  Or better yet a PR.  I don't control those docs :)

[2017-05-05 19:53] nbcnc commented on #14
will do

[2017-05-07 12:19] marc-parillo commented on #14
Actually, no need to change the docs.  I looked at the source code and Auto Updater does support private github accounts.  The only way I could get it to work is by calling the
`autoUpdater.setFeedURL({ provider: 'github', owner: '[repo owner]', repo: '[repo name]',  token: '[gh_token]' })` method before calling `checkForUpdates()` in main.js.

Of course, doing that is a serious security issue bec

[2017-05-08 06:31] develar commented on #14
@marc-parillo Yes, as stated in the docs. https://github.com/electron-userland/electron-builder/wiki/Auto-Update#private-github-update-repo

Please read solution in the linked issue — https://github.com/electron-userland/electron-builder/issues/1393#issuecomment-288191885

[2017-05-26 03:41] dengyaolong opened #18 "Can I publish to my server with CLI?"
I see your [example](https://gist.github.com/iffy/0ff845e8e3f59dbe7eaf2bf24443f104)  use generic download url .

Can I use the build publish to my server ?

[2017-05-30 14:32] iffy commented on #18
I don't think so; you'll have to copy the files up to your server yourself.  Re-open if you have more questions.

[2017-05-30 14:32] #18 closed

[2017-06-01 05:22] peterkrieg opened #19 "Auto Updating With Private Github Repo"
Hello,

First of all, thank you for an excellent repo - this has been very helpful.

I need to have an electron app autoupdate with a private GH repo.  (or other means, but has to be private).  It looks like this is not so simple to do ([example thread here](https://github.com/electron-userland/electron-builder/issues/1393)).

Do you recommend pursuing the Github method, or using simple `http-serv

[2017-06-01 06:22] develar commented on #19
https://github.com/electron-userland/electron-builder/issues/1370

If you mean that your user will somehow use credentials to update, then yes, you need custom server. Use headers to pass auth data.

Or you can investigate if authenticated s3 suitable for you and file issue to support it.

[2017-06-01 16:52] peterkrieg commented on #19
Thanks for the quick response @develar !

So, I actually got it to work where auto updater *detects* there is an update available, but then fails to actually download it.  Does this mean the authentication with Github is working, or there is still something going wrong?

I got the auth with private repo to work by using the `autoUpdater.setFeedURL()` method before calling `checkForUpdates()`, as d

[2017-06-06 03:31] peterkrieg commented on #19
Update:  I got auto-updating working with simple HTTP request over amazon S3.

I never did get auto-updater to work with private Github repos.  If someone has a solution I'm still curious to see it, but otherwise this thread can be closed, thanks!

[2017-06-06 04:50] ChiefOfGxBxL opened #20 "Getting syntax error in publish.sh"
Hello,

I forked the repository and am following along with the steps. When it comes time to run the publish script:
[code]
I'm getting an error:
[code]

Any tips? It doesn't seem to be picking up the `then` in the beginning..

[2017-06-06 15:10] ChiefOfGxBxL commented on #20
I was able to solve this -- the editor I was using to look at this file was inserting Windows line endings (CrLf) which was breaking the script.

[2017-06-06 15:10] #20 closed

[2017-06-06 16:15] iffy commented on #19
@peterkrieg the author of electron-updater says that private GitHub repos don't work.  Glad you got S3 going!

[2017-06-06 16:15] #19 closed

[2017-06-12 07:45] honeyjie opened #21 "make autoUpdater.on events have the right signatures (i.e. remove `ev` param)"
I'm sorry I have one problem when trying to auto-update my app,  I tried the example you leave many times but it can't restart after find a new version and quit , could you help me? I had spent several days on that.

![1](https://user-images.githubusercontent.com/16475074/27023719-5ac68f4a-4f86-11e7-9f3e-c72e4f30aa24.png)

[2017-06-12 08:34] honeyjie commented on #21
I made it just now , the version in package.json is old ,it work again when I update , sorry to trouble you

[2017-06-12 08:55] honeyjie commented on #21
`autoUpdater.on('download-progress', (ev, progressObj) => {
  sendStatusToWindow('Download progress...');
})  `
should be
`autoUpdater.on('download-progress', (progressObj) => {
  sendStatusToWindow('Download progress...');
})'

[2017-06-12 14:50] iffy commented on #21
@honeyjie like this? https://github.com/iffy/electron-updater-example/blob/master/main.js#L82

[2017-06-12 15:25] honeyjie commented on #21
yes, but to be sure,  I'll tell you answer tomorrow, the other thing is that  some modules is old version, when I run as the example wrote, it counld not auto-update, unless update the version of 'electron-updater',I am  really appretiate your share that help me a lot, thankyou!

[2017-06-13 18:34] iffy commented on #21
@honeyjie what version of `electron-updater` didn't work and which version *did* work?

[2017-06-14 06:45] honeyjie commented on #21
electron-updater 2.2.1 can work
and there is no only one argument in the listenning Event, as follows:

![default](https://user-images.githubusercontent.com/16475074/27118834-ba4b55a6-510f-11e7-85d6-a6cbae443c01.PNG)

![default](https://user-images.githubusercontent.com/16475074/27118915-2155cdf8-5110-11e7-8aac-d4bd0d00b73b.PNG)

[2017-06-15 11:42] honeyjie commented on #21
hi, I want to disable the default updater style with myown UI , Do you know How to do it? I have spent several hours on that, Could you help?

[2017-06-15 14:17] iffy commented on #21
@honeyjie there's no default updater UI with `electron-updater`.  This repo has an example UI, but you can do anything that Electron will let you do.  Is your code public that you could share a link?

As a starting point (from this repo), delete lines 46-100 of this file: https://github.com/iffy/electron-updater-example/blob/master/main.js#L46  And then make your own BrowserWindow loaded with your

[2017-06-16 02:48] honeyjie commented on #21
such as the following picture, seems can't be disable or change , I 'm new to electron, and thanks for your answer.
![wechatimg2](https://user-images.githubusercontent.com/16475074/27209892-33495620-5281-11e7-8d5b-13d19fcf9fbf.png)

[2017-06-16 15:35] iffy commented on #21
@honeyjie I've never seen that before.  Or that logo...  Can you paste your JavaScript code on Gist or in here?

[2017-06-16 15:38] develar commented on #21
This windows — https://github.com/electron-userland/electron-builder/issues/1630

[2017-06-30 05:25] Liupeng8 opened #24 "Complete electron-updater HTTP example connection can not be accessed"
Complete electron-updater HTTP example connection can not be accessed

[2017-06-30 15:16] iffy commented on #24
What do you mean?  This link is not accessible? https://gist.github.com/iffy/0ff845e8e3f59dbe7eaf2bf24443f104

[2017-06-30 15:20] iffy commented on #21
Fixed with commit https://github.com/iffy/electron-updater-example/commit/d8c5ddb1efcaabc7ca607fb2c49a9fe9d2e83f97

[2017-06-30 15:20] #21 closed

[2017-07-01 05:13] Liupeng8 commented on #24
@iffy yes

[2017-07-01 05:20] Liupeng8 commented on #24
@iffy can you send this demo to my e-mail?   my email address：344312918@qq.com

[2017-07-01 10:25] pombredanne opened #25 "License?"
Hi: what would be the license for this fine repo?
 There is some mention of some LHTML team-related LICENSE here but nothing else... https://github.com/iffy/electron-updater-example/blob/d8c5ddb1efcaabc7ca607fb2c49a9fe9d2e83f97/main.js#L1
It might be in reference to https://github.com/iffy/lhtml/blob/master/LICENSE but it would be great to have some clarity wrt this repo, especially if/when use as

[2017-07-03 16:28] iffy commented on #24
@Liupeng8 k, I emailed it... I'm confused why you can access this page but not the gist...

[2017-07-03 16:28] #24 closed

[2017-07-03 16:29] iffy commented on #25
Thanks for that catch -- I started this from another repo.  I'll push an update

[2017-07-03 16:35] iffy commented on #25
@pombredanne fixed: https://github.com/iffy/electron-updater-example/blob/master/LICENSE

[2017-07-03 16:35] #25 closed

[2017-07-04 02:22] Liupeng8 commented on #24
@iffy I am in China, maybe some channels of the network by the operator to intercept it

[2017-07-11 12:27] HorinVova opened #26 "some"

[2017-07-11 15:22] #26 closed

[2017-08-09 09:12] rahmatkruniawan opened #28 "Doesn show release my version"
I have been run publish..sh
But in my repository doesn't show anything
![sh](https://user-images.githubusercontent.com/9253817/29114124-779e6aec-7d1d-11e7-8e15-303b4570c98e.jpg)

[2017-08-09 12:18] rahmatkruniawan commented on #28
@iffy Can u gift me some clue

[2017-08-09 14:47] iffy commented on #28
@rahmatkruniawan happy to help.

What are  you expecting to see that you aren't seeing?  It looks like it at least started to upload `electron-react-boilerplate-setup-1.0.0.exe` to github.  Did it finish?  I see you have at least one release here: https://github.com/rahmatkruniawan/auto/releases

[2017-08-09 15:01] rahmatkruniawan commented on #28
@iffy when uploading then stop. And does't show any error.
Yeah. But I did it manually not from command line

[2017-08-09 15:09] iffy commented on #28
@rahmatkruniawan

1. Are you on Linux, Windows or macOS?
2. What happens when you do this command: `build --win -p always`

[2017-08-09 15:31] rahmatkruniawan commented on #28
@iffy  I use windows 10 .
I just did it, But still got some problem 😢
![same](https://user-images.githubusercontent.com/9253817/29129884-703457c8-7d52-11e7-8ac9-ea25bc3de125.jpg)

[2017-08-09 16:18] rahmatkruniawan opened #29 "Not found latest.yml"
I allready upload my installer and latest.yml but I did it manually not from command line.
When i open my Apps . THat git me some error
![yaml2](https://user-images.githubusercontent.com/9253817/29131990-e47371c2-7d58-11e7-949f-887f4316f22b.jpg)
![yml](https://user-images.githubusercontent.com/9253817/29131991-e481c0f6-7d58-11e7-86bf-9b843c7eba3d.jpg)

[2017-08-09 17:33] iffy commented on #29
@develar any idea?

[2017-09-12 06:54] xp6530 opened #30 "download v0.4.0 .mac.zip and open the app, show me Error in auto-updater, something wrong?"

[2017-09-12 06:57] xp6530 commented on #30
![image](https://user-images.githubusercontent.com/18676317/30312111-bab4c89a-97ca-11e7-8292-912e0638710e.png)

[2017-09-12 09:04] xp6530 commented on #30
sorry, dmg is ok

[2017-09-12 09:04] #30 closed

[2017-09-27 06:01] 1-14x0r commented on #19
@peterkrieg @iffy i got this working fine with 2 repos (one private one for source code, and public one with just releases no source code). In the root of my `package.json` I added

[code]

i just named the repos the same but appended `-release` to the public release repo

[2017-10-07 14:59] tangb commented on #28
I think I encountered the same problem: my project was originaly on bitbucket, I created new empty repo on github (same name), configured GH_TOKEN key and added publish entry in package.json to upload files to github (but local sources were still pointing to bitbucket), and publish process ended successfully but nothing was pushed on github repo.
Pointing my project on github fixed the problem and

[2017-10-08 07:26] tangb opened #31 "Auto update doesn't work at all"
Hi

I tryed this project tuto on my project but it didn't work:
The publish process works well, my files are uploaded to github like expected with new draft release.
But after releasing new version, when I launch previous release bin the update stuff does nothing. So I decided to try with this project directly and I have the same result, updater seems to do nothing.

In my project (not the copy of

[2017-10-08 07:51] develar commented on #31
I am sorry for confusion – auto updates is not supported on Linux yet.

[2017-10-08 08:27] tangb commented on #31
Ok it answer to my problem :grinning:
Is it planned ?

[2017-10-08 08:30] develar commented on #31
Next week :) https://github.com/electron-userland/electron-builder/issues/1138

[2017-10-08 08:50] tangb commented on #31
Cool :+1:
Thank you very much :wink:

[2017-10-08 08:51] #31 closed

[2017-10-09 18:10] iffy commented on #28
@tangb thanks for this.  @rahmatkruniawan does that work for you?

[2017-10-12 19:31] jonwu commented on #30
i keep getting the same error. How did you fix it?

[2017-10-17 05:31] rahmatkruniawan commented on #28
@iffy  I use my own server not use github anymore

[2017-11-01 20:49] #6 closed

[2017-11-01 20:49] #13 closed

[2017-11-11 23:29] naheller commented on #19
@1-14x0r a two-repo setup like this would be ideal for me. is your `-release` repo completely empty except for the release artifacts?

[2017-12-11 02:46] nicholaslee119 commented on #29
You must config the token in the header, eg
[code]

[2017-12-12 12:04] noyobo opened #34 "Error: Cannot parse releases feed: Error: Unable to find latest version on GitHub"
Updated the latest version `electron-updater@2.17.4`。

Looks like Github returned xml file information, but used JSON to parse?

[code]

log.log
[code]

[2017-12-12 14:11] iffy commented on #34
Did you publish a release?  I don't see one here: https://github.com/noyobo/electron-updater-example/releases

[2017-12-14 10:27] noyobo commented on #34
Thank, I just published a draft version.

[2017-12-14 10:27] #34 closed

[2018-01-15 07:52] tomy8910 opened #35 "Updating releases with AppVeyor"
Hi how do I setup automatic updates with appveyor? My appveyor setup publishes new releases but my app can not auto update from these newly published releases. How do I configure this?

[My Electronic Voting System Application](https://github.com/tomy8910/evs)

My app is based on [Simulated Greg Electron Vue](https://github.com/SimulatedGREG/electron-vue)

Thank you

[2018-01-15 14:32] iffy commented on #35
@tomy8910 I've never used AppVeyor, but do these docs help? https://www.electron.build/configuration/publish#github-repository-and-bintray-package

[2018-01-15 14:37] tomy8910 commented on #35
I tried what it says in docs, but it still does not work.

[2018-01-19 19:06] btibarra opened #36 "Github 401 Unauthorized"
Hello, i can't get this example to work, after setting GH_TOKEN on env, when I send npm run publish after packing I get this message:

I need my application to get autoupdates with nsis in windows, i've reading the electron-builder autoupdate documentation but still can't figure out how it really works or the configuration i need to do

[2018-01-25 13:16] #36 closed

[2018-01-25 17:01] btibarra commented on #36
It was a problem with my editor, I was running the commands from a terminal there and it wasn't reading correctly the environment variables. It's all working good now :)

[2018-01-31 11:12] ChristianHaase opened #37 "Publish and auto update for windows with generic provider"
I've followed your guide, and set up everything just like you have it. However, instead of serving the updates from a local server, I have a remote server setup with another url: `http://someurl/myapplicationname`.

I'm not quite sure what I need to put in the root folder of my server? Is it the entire `dist` folder? Does it need to be placed in a `dist` folder on the server, or do I just need to

[2018-01-31 11:17] ChristianHaase commented on #37
I just tried to setup logging with `electron-log` and tried logging on the events of the `autoUpdater`. It doesn't seem to hit any of them.

Perhaps you could take a look as my `package.json`, since some configuration must be wrong:

    {
      "name": "My application name",
      "title": "My application name",
      "version": "0.0.1",
      "description": "",
      "main": "main.js",
      "sc

[2018-01-31 12:15] ChristianHaase commented on #37
Got it working by adding logging and going through the log. It seems that the `.exe` files DO NOT need to be placed in a `dist` folder, but instead in the root of the server folder.

I apologize for the inconvenience. Thank you for a beautiful example! :)

[2018-01-31 12:15] #37 closed

[2018-06-11 08:31] girishbr opened #39 "Doesn't work on Windows"
I copied your code to my app.

For whatever reason, electron on windows doesn't pick up new releases.
At https://github.com/intelligrate/query-cloud-api/releases, I've two releases.
Whilst running 1.0 release,
`  "build": {
    "publish": [
      {
        "provider": "github",
        "owner": "intelligrate",
        "repo": "query-cloud-api"
      }
    ],
`
 I expect, auto-updater to prompt and

[2018-06-11 14:34] iffy commented on #39
@girishbr Have you tried forking the repo and testing before adding your own code?  From what I can see, you have all the update listeners calling `sendStatusToWindow` but don't have that function defined anywhere.

[2018-06-11 16:51] girishbr commented on #39
@iffy thank you for the feedback. I forked it here: https://github.com/girishbr/electron-updater-example/. Now, I understand how your code works.

I moved it all to about.html
https://github.com/intelligrate/query-cloud-api/blob/master/about.html#L18
`    ipcRenderer.on('message', function(event, text) {
        var container = document.getElementById('messages');
        var message = document.cr

[2018-06-11 16:53] girishbr commented on #39
Aah! I've to choose one of the two options. My bad. Will check it again.

[2018-06-11 16:58] iffy commented on #39
@girishbr k, let me know if it works

[2018-06-11 17:33] girishbr commented on #39
Took the easy route with just  `autoUpdater.checkForUpdatesAndNotify();` right here.
https://github.com/intelligrate/query-cloud-api/blob/master/main.js#L309.

1. Published version 2. Downloaded it
2. Changed version 2 to version 3. Published it again and made it public.
3. Ran version 2 from my PC again and closed it expecting it to update.
4. Ran version 2 again to see the version in about https

[2018-06-11 19:51] iffy commented on #39
I only see v0.0.3, v0.0.1, v0.0.2 in your list of releases: https://github.com/intelligrate/query-cloud-api/releases  And v0.0.2 was released 3 days ago?

Maybe your v2 that you're running is not a version with the new code?

[2018-06-11 20:21] girishbr commented on #39
that's weird! This's what I see.
![image](https://user-images.githubusercontent.com/5966051/41255119-c7a20d0c-6dc5-11e8-8d4a-525a4ad4ea86.png)

[2018-06-11 21:34] iffy commented on #39
Maybe make 0.0.4 and 0.0.5 (both publicly released -- not drafts) to avoid potential name conflicts?

[2018-06-12 11:13] girishbr commented on #39
Did that. Deleted all the releases.
Just have only one line for `checkForUpdatesAndNotify()`
https://github.com/intelligrate/query-cloud-api/blob/master/main.js#L310

Created version 0.0.1, pushed, published, installed.
Changed package.json to 0.0.2, pushed, published.

Opened app(v0.0.1) expecting an updation to 0.0.2. Didn't happen.

[2018-06-12 15:27] iffy commented on #39
@girishbr I'm not sure how the UI works on Windows, but when using `checkForUpdatesAndNotify` on my mac, I have to launch the app, then wait for it to download the new version (the update notification doesn't appear immediately), *then* I get a notification, *then* I have to quit the application and restart it to see the new version.  But I'm assuming you're waiting for a bit after starting the ap

[2018-06-12 17:06] girishbr commented on #39
@iffy Thank you for your feedback. I finally got it to work.

[code]
something to do with ES6 syntax?

[2018-06-12 18:08] iffy commented on #39
I doubt it's some ES6 syntax thing.  That seems really odd that it would work in its own handler but not in one with other stuff in it.  How long do you have to wait for the notification to appear in the working version?

[2018-06-12 18:20] girishbr commented on #39
It doesn't happen automatically. It happens only when I exit. And that too only with an explicit exit (ctrl + q) not a window close.
I am planning on bundling it up into a menu option "Update and Restart".

[2018-06-23 10:51] senwa commented on #29
i get the same problem
when i set the feedUrl with domain like this:
[code]
when the program checkupdate  ，it cannot find the last.yml.
![info](https://user-images.githubusercontent.com/13153329/41808801-b93efa96-7715-11e8-965e-70b58c3d0b9a.png)

but ,when i set the feedUrl with ip like this:
[code]
all work fine.i dont know why,is there something with dns parse?
my server is two tomcat balanced w

[2018-06-26 07:21] dede-plato opened #41 "Example for S3 provider instead of github"
Hi,
I am looking for the example of s3 provider for auto-update.
I've already done s3 publishing. But can't check the update from s3.
Is there any example that I can follow for the window? Thanks.

[2018-06-26 16:46] iffy commented on #41
@dede-plato I have no experience with S3 (and very little with Windows).  But to whoever knows how to do it, feel free to post here.

[2018-09-29 15:29] lieuwe-berg opened #42 "I'd love some help"
I'd love some help, I cannot get it to work.

Here's the index file, there are no errors.
https://github.com/lieuwe-berg/timerapp/blob/master/index.js

I fully understand what the code does but it simply won't update for me. There is nothing else on the screen as well (as in checking for updates).

Everything else works (aka step 2-9).

[2018-10-01 16:21] iffy commented on #42
What version of electron-updater, electron-builder, and electron are you using?  Also, what *are* you seeing?

[2018-10-01 17:32] lieuwe-berg commented on #42
Thanks for reaching out.

electron: 3.0.2
electron-updater: 3.1.2
electron-builder: 20.28.4

I'm just seeing my regular application. No pop-ups or anything else. This is how I defined my repo:
[code]

[2018-10-01 17:42] iffy commented on #42
@lieuwe-berg Have you tried doing the steps in the README exactly?  (Before adding your own code)

The latest versions I've tested with are:

- electron 1.7.9
- electron-updater 2.21.4
- electron-builder 20.8.2

By default, it detects your GitHub settings looking at `.git/config` I think.

If I get some time, I'll try upgrading the dependencies of this repo to see if there are problems with newer

[2018-10-01 18:56] lieuwe-berg commented on #42
That would be awesome, thanks!
I'll try the read.me exactly soon. I just didn't use your code before.

[2018-10-03 22:39] iffy commented on #39
@girishbr is this resolved?  Can I close this issue?

[2018-10-03 22:57] iffy commented on #42
@lieuwe-berg I've just tested with the latest versions of things (electron 3.0.2, builder 20.28.4, updater 3.1.2) and it still works on this test repo.  So we can rule that out.

[2018-10-04 18:44] lieuwe-berg commented on #42
How do __you__ get it to find you github?

[2018-10-04 19:59] iffy commented on #42
@lieuwe-berg by default electron-updater looks at stuff inside the `.git` folder to guess where the GitHub repo is.  For instance, `.git/config` contains details about the `origin` remote.  But you can explicitly set your GitHub repo as described in step 2 here: https://github.com/iffy/electron-updater-example/blob/master/README.md

[2018-10-06 15:02] lieuwe-berg commented on #42
Thank you so much! It worked! I can start properly making my app now, thanks again! =D

[2018-10-06 15:02] #42 closed

[2018-10-19 11:08] JLueke commented on #39
The auto-updater currently doesn't work.
There's is a [temporary solution](https://github.com/electron-userland/electron-builder/issues/3367#issuecomment-429696868) until the PR is accepted.
Worked for me.

[2018-11-04 23:04] filipesabella commented on #2
@develar how did you incorporate the signing in the building process?

[2018-12-05 03:37] finephp opened #43 "I could not find releases.atom in github"
Hi,iffy ,you did a good job. I forked your electron-updater-example.git ,it's very useful ,and I followed your instructions step by step,every thing is ok,
![image](https://user-images.githubusercontent.com/36813206/49488012-df8e9a80-f87f-11e8-8044-295ccde5fc96.png)

but when I had installed dist/electron-updater-example Setup 0.7.1.exe  and run electron-updater-example.exe ,it's just like this
![

[2018-12-05 07:00] #43 closed, assigned to nobody

[2019-07-09 11:48] kittaakos commented on #39
I have forked the repo, adjusted the `owner`, and added `nsis` as a `win` `target`. Published a new release, then another release. The updates are picked up and downloaded on Windows, but there is no automatic restart. Is this the expected behavior? A manual restart resolves the problem:

![Screen Shot 2019-07-09 at 13 34 50](https://user-images.githubusercontent.com/1405703/60885523-0ebf1d00-a250

[2020-01-21 19:49] tytech3 commented on #36
I'm getting this issue with a public repo. Did you have a token on your package.json? Not sure why I'd get 401'd on a public project.

[2020-02-05 14:36] muhzi4u opened #46 "Application is not updating automatically via private GitHub repo"
I have followed all the steps in this [doc](https://www.electron.build/auto-update)

**Version**:

- **electron: 7.1.3**
- **electron-updater: 4.2.0**
- **electron-builder: 21.2.0**
- **electron-notarize: 0.2.1**
- **Working on: MacOS Catalina 10.15**

**Build Config**

[code]
**Electron Entry**
[code]
The app is uploading to GitHub releases.

<img width="686" alt="Screenshot 2020-02-05 at 5 09 59

[2020-02-06 04:23] muhzi4u commented on #46
@iffy Do you have any idea on this?

[2020-03-17 15:53] DotoPototo commented on #43
@finephp What was your solution? I am getting the exact some error and I am yet to figure out why

[2020-03-17 15:58] DotoPototo commented on #43
Okay my reason was because the `releases.atom` link wasn't generating as a private repo so making it public fixed it

[2020-03-22 15:58] ivangomes commented on #46
Any update guys?

[2020-03-22 16:03] muhzi4u commented on #46
@ivangomes Finally I managed to fix the issue. Could you please share the configuration. I can help you with this?

[2020-03-22 16:05] ivangomes commented on #46
My package.json:

{
  "name": "coldstorage",
  "version": "1.0.0",
  "description": "Go Cold Storage",
  "main": "main.js",
  "repository": {
    "type": "git",
    "url": "DEMO"
  },
  "scripts": {
    "start": "electron .",
    "build": "electron-builder build --mac --publish never",
    "deploy": "electron-builder build --mac -p always"
  },
  "author": "Ivan Gomes",
  "license": "ISC",
  "devD

[2020-03-22 16:23] ivangomes commented on #46
update: using "electron-updater": "^4.0.6" works for me!

Are you using:

electron: 7.1.3
electron-updater: 4.2.0
electron-builder: 21.2.0
electron-notarize: 0.2.1

[2020-03-22 17:23] muhzi4u commented on #46
Yes

[2020-03-23 21:56] ivangomes commented on #46
Working Again! Yay!

[2020-04-24 03:38] yanlee26 opened #48 "Can this example support test in dev mode ?"
great thanks

[2020-05-05 17:17] AxelTerizaki opened #49 ".zip windows target from electron-builder gets auto-updates"
I've got some users wh o downloaded my app with the .zip provided, for portable use.

My app is distributed using either the nsis target or the zip one

As I understood it in the docs, it shouldn't try to auto-update from zips.

However, some users reported errors when they started my app and the auto-updater started finding something. But it error'd out because the code wasn't signed (??)

It wor

[2020-05-05 21:02] AxelTerizaki commented on #49
Sorry, I realize I posted this in the wrong repo (was meant for electron-builder)

[2020-05-05 21:02] #49 closed

[2020-05-20 14:12] kittaakos commented on #41
I did it for macOS, but I would assume, it is the same for Windows.

With the `electron-builder` one has the use the [`S3Options`](https://www.electron.build/configuration/publish#s3options). ([Here](https://github.com/electron-userland/electron-builder/blob/ee59eed4b48eff87786715a30d1865d9186c24d9/packages/app-builder-lib/scheme.json#L4148-L4274) is the JSON scheme for S3 if you prefer that.)
[co

[2020-06-24 22:43] ionalexandrusecara opened #50 "'update-downloaded' never gets triggered, even after 'download-progress' is complete"
I have followed all the steps [here](https://www.electron.build/auto-update) and pretty much copied the exact same code as [here](https://github.com/iffy/electron-updater-example/blob/master/main.js).

Version:
- electron: ^5.0.7
- electron-updater: ^4.2.4
- electron-builder: ^21.2.0
- electron-notarize: ^0.3.0
- electron-log: ^4.2.2

I use electron-log to log all the steps of the update process.

[2020-06-25 00:07] ivangomes commented on #50
did you try:

  "devDependencies": {
    "electron": "^3.0.2",
    "electron-builder": "^22.4.1"
  },
  "dependencies": {
    "electron-log": "^1.3.0",
    "electron-updater": "^4.2.5"
  }

[2020-06-25 01:25] ionalexandrusecara commented on #50
@ivangomes I used those and they worked. Is there a particular reason for it?

Also I'm wondering, from your perspective, isn't downgrading all my version very detrimental long term?

[2020-06-25 03:48] ionalexandrusecara commented on #50
@ivangomes I've also tried it with the latest electron-log and the latest electron version and it worked as well. This was a really weird one.

[2020-06-27 03:52] #50 closed

[2020-06-29 23:54] ivangomes commented on #50
What about electron-builder? Same version?

[2021-07-05 04:08] anla-xu opened #51 "TypeError: Cannot read property 'name' of undefined"
hi.I'm using electron-vue again and I'm trying to use electronic-updater. After installation, I will report an error when I import it. If I don't import it, I won't report an error
just like this:
`import { autoUpdater } from "electron-updater"`
error:
![image](https://user-images.githubusercontent.com/55946925/124416296-40a8e280-dd89-11eb-8c80-fed6c9125a30.png)
Can you give me some advice? Thank

[2021-09-02 21:48] Loneth opened #52 "EEXIST: file already exists"
My Electron app error when auto updating, i tried to find on google but i still can't solve this problem
![Screenshot_46](https://user-images.githubusercontent.com/54299183/131920595-4bf1667d-d935-4944-a7d8-b22c85c97058.png)

[2021-09-19 00:54] robertpatrick opened #53 "Example doesn't work with current versions of Electron"
This example was very useful in demonstrating the process.  Unfortunately, it uses ancient versions of the dependencies so the code does not work with current versions of Electron (e.g., when creating the BrowserWindow, you now have to enable nodeIntegration or the JavaScript in the HTML file fails to load).

It also leaves the MacOS signing/notarization as an exercise for the user.  I have a work

[2021-10-03 21:30] ZvikaZ commented on #53
I've also encountered today the issue of the ancient versions, and problems when just updating the versions.

Maybe you could create a PR with your changes (or maybe 2 PRs? One to advance the versions, and one to address the Mac signing issue).

Hopefully they will be integrated soon, and everyone will enjoy your fixes :-)

[2021-10-04 14:02] iffy commented on #53
Ancient is accurate :) I'd happily merge a PR which upgrades things.

[2021-10-14 09:50] ZvikaZ commented on #53
Hi.
I think https://github.com/iffy/electron-updater-example/pull/54 should address this.
Can it be reviewed?

[2021-10-15 17:28] iffy commented on #53
Merged! Thanks all!

[2021-10-15 17:28] #53 closed

[2021-10-19 09:37] ilgrandeanonimo opened #55 "Error during update download"
Found version 2.0.0 (url: myapp-2.0.0-arm64-mac.zip, myapp-2.0.0-arm64.dmg)
(node:8559) UnhandledPromiseRejectionWarning: TypeError: Cannot set property 'enabled' of undefined
    at /Users/gattino09/Dev/NodeJS/Electron/myapp/dist/mac-arm64/myapp.app/Contents/Resources/app.asar/main.js:130:23
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
(Use `myapp --trace-warnings ...`

[2021-10-19 15:50] yap241986 commented on #55
updater.enabled = true

[2021-10-19 17:00] yap241986 commented on #55
if I sent to you all my code you can try to fix that problem?
(if you see grammatical error the reason is that I'm Italian)

[2021-10-20 11:12] yap241986 commented on #55
<img width="296" alt="Schermata 2021-10-20 alle 13 12 07" src="https://user-images.githubusercontent.com/65458792/138082531-e8fdb272-9c80-4f1a-9ca2-3ac251a348c4.png">
how can I hide it?

[2022-02-14 09:30] tangmeme-i opened #56 "I use electronic updater to package the generated zip package on the Mac. After decompression, it shows that you don't have permission to open the application."
I use electronic updater to package the generated zip package on the Mac. After decompression, it shows that you don't have permission to open the application. I display the contents of the package and view the execution file in the MacOS file in the format of manuscript. As a result, I can't start this compressed package after the update process is completed
<img width="255" alt="截屏2022-02-14 下午4

[2022-05-07 21:32] sgebr01 opened #57 "SHA512 Mismatch Error in auto-updater"
Electron-Builder Version: 22.9.1
Node Version: 16.7
Electron Version: 18.2.0
Electron Type (current, beta, nightly): Current
Electron Builder Version: 4.3.9
Target: Windows
I am trying to add auto update support to my app, and it has gotten to the point where it starts to download the update but the download progress just decreases and increases infinitely afterwards. After checking the logs, it s

[2022-05-08 04:18] sgebr01 commented on #57
I solved this issue by using certificateSubjectName and certificatePassword in my package.json to automate code signing . This solved the issue and made my deployment process much easier too.

[2022-05-08 04:18] #57 closed, assigned to nobody

[2022-05-27 18:48] gabrieldejesus opened #58 "I know this is old, but @marc-parillo thanks for this."
I know this is old, but @marc-parillo thanks for this.

This was the only way I could get electron-updater working in a build with a regular private GH setup, and an org would just add unneeded overhead. Of course hard-coded tokens were far from ideal, so I ended up accessing each value via an environment variable set by [dotenv](https://github.com/motdotla/dotenv) on startup from an ignored **.en

[2022-05-27 18:48] #58 closed, assigned to nobody

[2022-05-29 11:18] marc-parillo commented on #14
@MutableLoss I'm glad you found it helpful.  Fortunately, I was eventually able to host everything in an S3 bucket so I was able to bypass GH altogether.

[2022-10-26 11:22] pedro-sigma opened #59 "Change token in a private repo"
I am developping a new app using Electron for an enterprise and I am having problems to update the app.

When you are generating a new token for your app, Github recommends you set an expiration date.

![image](https://user-images.githubusercontent.com/87933613/198013465-ca987c38-aae9-41bc-bee9-f4c9c2f49303.png)

But if I set it, how can hay change my token when the app is in producction? What is

[2022-10-26 13:01] iffy commented on #59
The token is only used on your local machine to upload your app to GitHub, so regenerating and using a new token should not be a problem and will not affect the app on other people's computers.

[2022-10-26 13:50] pedro-sigma commented on #59
Bug the repo is private, so I need to send the token to download the new version, isn't it?

[2022-10-26 14:04] iffy commented on #59
You shouldn't be publishing or sending out your personal access token. It's equivalent to sharing your GitHub password.

Look through this documentation, which allows you more control over how the application calls home to GitHub: https://www.electron.build/configuration/publish#githuboptions

[2022-11-30 16:37] mr339 commented on #46
Hi @ivangomes @muhsin-k  does your app work if the repo is private? i get this error when i open the app downloaded from the asset of latest release.
"Error in auto-updater. HttpError: 404 "method: GET url: https://github.com/user/electron-updater-example/releases.atom\n\nPlease double check that your authentication token is correct"
But if i change the repo to public , the same app works if i reo